name: Build & Deploy to Azure Container Apps

on:
  push:
    branches: [ master ]


permissions:
  contents: read
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: >-
            {
              "clientId": "${{ secrets.CLIENT_ID }}",
              "clientSecret": "${{ secrets.CLIENT_SECRET }}",
              "subscriptionId": "${{ secrets.SUBSCRIPTION_ID }}",
              "tenantId": "${{ secrets.TENANT_ID }}"
            }

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GITHUB_USERNAME }}
          password: ${{ secrets.GITHUB_PAT }}

      - name: Build and Deploy Container App
        uses: azure/container-apps-deploy-action@v1
        with:
          appSourcePath: ${{ github.workspace }}
          registryUrl: ghcr.io
          registryUsername: ${{ secrets.GITHUB_USERNAME }}
          registryPassword: ${{ secrets.GITHUB_PAT }}
          containerAppName: ${{ secrets.CONTAINER_APP_NAME }}
          resourceGroup: ${{ secrets.RESOURCE_GROUP }}
          containerAppEnvironment: ${{ secrets.ENVIRONMENT_NAME }}
          location: ${{ secrets.LOCATION }}
          imageToBuild: ghcr.io/cxorepo/dxc-content-agent:${{ github.sha }}
          resources: |
            {
              "cpu": "2.0",
              "memory": "4Gi"
            }